@charset "UTF-8";

/*telefono*/
@media only screen and (max-width: 480px) {
	
	body {
	  min-height: 100%;
	  align: center;
	}
	form.login {
		position: absolute;
		top: 25%;
		left: 10%;
		padding-left: 0%;
		padding-top: 2%;
		padding-bottom: 4%;
		padding-right: 0%;
		width:80%;
	}
	input {
		width:90%
	}
}

/*compu*/
@media only screen and (min-width: 500px) {
	
	body {
	  min-height: 100%;
	  align: center;
	}
	form.login {
		position: absolute;
		top: 25%;
		left: 30%;
		padding-left: 2%;
		padding-top: 2%;
		padding-bottom: 4%;
		padding-right: 2%;
		width:35%;
		border: 1px solid blue;
		border-radius: 25px;
	}
	input {
		width:90%
	}
}