<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="comun :: cabecera (titulo='Usuarios')">
</head>
<body>
	<div th:replace="comun :: menu (titulo = '/ Usuarios')">
	</div>
	
	<div style="width:80%">
	<h2>Lista de usuarios</h2>
	<table style="width:60%">
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Acción</th>
      </tr>
      <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.usuario}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td>
        	<form method="post" action="/usuarios/eliminar">
        		<input type="hidden" id="eliminaId" name="eliminaId" th:value="${usuario.id}">
        		<input type="submit" value="Eliminar">
        	</form>
        </td>
      </tr>
    </table>
    </div>
</body>
</html>
