<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="comun :: cabecera (titulo='Usuarios')">
</head>
<body>
	<div th:replace="comun :: menu (titulo = '/ Usuarios')">
	</div>
	<div style="width:25%">
		<h2>Agrega usuario</h2>
		<form action="/usuarios/agregar" method="POST">
			<label for="nombre">Nombre: </label><br>
			<input type="text" id="nombre" name="nombre" value="" placeholder="Nombre">
			<br><label for="usuario">Usuario: </label><br>
			<input type="text" id="usuario" name="usuario" value="" placeholder="Usuario">
			<br><label for="clave">Contraseña: </label><br>
			<input type="password" id="clave" name="clave" value="" placeholder="clave">
			<br>
			<br>
			<input type="submit" value="Agregar" >
		</form>
	</div>
</body>
</html>
