<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="comun :: cabecera (titulo='Usuarios')">
</head>
<body>
	<div th:replace="comun :: menu (titulo = '/ Usuarios')">
	</div>
	<div style="width:25%">
		<h2>Agrega usuario</h2>
		<form action="/usuarios/agregar" method="POST">
			<input type="text" id="nombreUsuario" name="nombreUsuario" value="" placeholder="Nombre de usuario">
			<input type="text" id="nombre" name="nombre" value="" placeholder="Nombre">
			<input type="password" id="clave" name="clave" value="" placeholder="clave">
			<input type="submit" value="Agregar" >
		</form>
	</div>
</body>
</html>
